{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

		<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
     <style type="text/css">
      
      html, body {
        background-color: purple;
        
      }
            
      
      .medium-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;    
        align-content: center;
        flex-direction: row;
        flex-flow: row wrap;
          
      }
      
      .box {
        
        background-color: orange;  
        width: 250px;
        height: 230px;
        margin: 20px;
          
      }
      
    
    </style>
    
	</head>
	<body>
		<!-- Your layout here -->
    <div class = 'medium-container'>
      
      <div class = 'box one'></div>
      <div class = 'box two'></div>
      <div class = "box three"></div>
      <div class = "box four"></div>
      <div class = "box five"></div>
      <div class = "box six"></div>
      <div class = "box six"></div>
      <div class = "box six"></div>
      <div class = "box six"></div>
      <div class = "box six"></div>
      <div class = "box six"></div>
      <div class = "box six"></div>
      <div class = "box six"></div>
      <div class = "box six"></div>
      <div class = "box six"></div>

      
      </div>      

	</body>
</html>